<footer>
    <div class="social">
        <a href="https://www.facebook.com/Mx.Jeff.10">
            <img src="{{url_for('static', filename='../static/images/facebook.png')}}" alt="facebook">
        </a>
        <a href="https://github.com/DZ0Jeff">
            <img src="{{url_for('static', filename='../static/images/github.png')}}" alt="github">
        </a>
        <a href="https://www.linkedin.com/in/mx-jeff/">
            <img src="{{url_for('static', filename='../static/images/linkedin.png')}}" alt="linkedin">
        </a>
    </div>

    <div class="author">
        &copy;By DZ0Jeff
    </div>
</footer>