<footer>
    <div class="social">
        <a href="#">
            <img src="{{url_for('static', filename='../static/images/facebook.png')}}" alt="facebook">
        </a>
        <a href="#">
            <img src="{{url_for('static', filename='../static/images/github.png')}}" alt="github">
        </a>
        <a href="#">
            <img src="{{url_for('static', filename='../static/images/linkedin.png')}}" alt="linkedin">
        </a>
    </div>

    <div class="author">
        &copy;By DZ0Jeff
    </div>
</footer>