<nav>
    <ul>
        <li>
            <a href="{{url_for('init')}}">Inicio</a>
        </li>                                                         
        <li>
            <a href="{{url_for('estudos')}}">Formação academica</a>
        </li>
        <li>
            <a href="{{url_for('jobs')}}">Experiência profissional</a>
        </li>
        <li>
            <a href="{{url_for('social')}}">Redes sociais</a>
        </li>
        <li>
            <a href="{{url_for('chat')}}"> Contato </a>
        </li>
    </ul>
</nav>