@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

:root{
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --font-name: 'Permanent Marker', cursive;

    --bg-primary: #333333;
    --bg-secondary: rgb(40, 40, 40);
    
}

table {
    font-family: var(--font-secondary);
    width: 100%;
}

th {
    background-color: #191919;
    padding: 0.5em;
}

td {
    text-align: center;
    padding: 0.3em;
    padding-left: 15px;
    border-bottom: 1px solid #191919;
}

strong {
    float: left;
    font-family: var(--font-primary);
}

h2 {
    text-align: center;
    width: 100%;
}

@media(max-width: 700px){
    strong {
        text-align: center;
        font-family: var(--font-primary);
    }   
}