@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

:root{
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --font-name: 'Permanent Marker', cursive;

    --bg-primary: #333333;
    --bg-secondary: rgb(40, 40, 40);
    
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    outline: none;
    background: var(--bg-secondary);
    font-family: var(--font-secondary);
    width: 98vw;
    height: 100vh;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}


#microcamp-courses {
    display: none;
}

#sololearn-courses {
    display: none;
}

h2 {
    text-align: center;
}

h2#microcamp, h2#solo{
    text-decoration: none;
}

h2#solo:hover, h2#microcamp:hover{
    text-decoration: underline;
    cursor: pointer;
}

h2 a {
    color: white;
    text-decoration: underline;
}

h2 a:hover {
    text-decoration: none;
}

nav{
    width: 100vw;
    box-sizing: border-box;
    background: var(--bg-primary);
    min-height: 10vh;
    padding: 2rem;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li{
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    font-family: var(--font-primary);
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    text-decoration: underline;
}

/*Header title*/

.name {
    width: 100vw;
    box-sizing: border-box;
    margin: 0 auto;
    color: black;
    padding: 15px 30px;
}

.name h1{
    text-align: center;
    font-family: var(--font-name);
    color: white;
    font-size: 32pt;
    letter-spacing: 10px;
}

/*Section*/
section{
   width: calc(100% - 25%);
   margin: 0 auto 50px auto;
}

/*Article*/

section article{
    font-family: var(--font-secondary);
}

section article p {
    line-height: 30px;
    text-align: justify;
}

/*Boxes */

.box-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box-container .box {
    margin: 20px;
    max-width: 300px;
    min-height: 50px;

    background-color: #242323;
    box-shadow: 2px 2px 2px rgb(10, 10, 10);
}

.box-container .box img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

    width: 32px;
    height: 32px;
}

.box-container .box h2 {
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: #191919;
    box-sizing: border-box;
}

.box-container .box .info {
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
}

.box-container .box .info strong{
    text-align: left;
}

.box-container .box .info a {
    margin: 5px auto;
    text-decoration: none;
    color: white;
}

.box-container .box .info a:hover {
    text-decoration: underline;
    color: white;
}

/*Footer*/
footer {
    position: relative;
    box-sizing: border-box;
    top: 12vh;
    background-color: var(--bg-primary);
    width: 100vw;
    height: 20vh;

    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .social {
    width: 15vw;
    display: flex;
    justify-content: space-around;
}

@media(max-width: 920px){
    footer {
        padding: 1rem;
    }

    footer .social {
        width: 50vw;
        display: flex;
        justify-content: space-around;
    }
}