.projects-container {
    text-decoration: none;
    color: white;
    background-color: #242323;
    margin-top: 1rem;
    width: 50vw;
    min-height: 10vh;

    display: flex;
    flex-direction: column;
    justify-items: center;    

    padding: 1rem 0 0 1rem;
    border-radius: 1em;
    box-shadow: 2px 2px 2px rgb(10, 10, 10);
    transition: background-color 0.5s;
}

.projects-container strong {
    font-size: 16pt;
}

.projects-container:hover {
    background-color: #333333;
}