{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='../static/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='../static/projects.css')}}">
{% endblock %}

{% block headtitle %}
    Curriculum
{% endblock%}

{% block body %}
    <header class="name">
        <h1>Projetos</h1>
    </header>

    <section class="box-container">
        <div class="projects-list">
            {% for valor in data %}       
                {% if valor.homepage %}
                    <a class="projects-container" target="_blank" href="{{ valor.homepage }}">
                        <strong>{{ valor.name }}</strong>
                        <p>{{ valor.description }}</p>
                        <!-- <p>{{ valor.homepage }}</p> -->
                    </a>
                {% endif %}
            {% endfor %}

            <!-- <a class="projects-container" target="_blank" href="https://www.servc.com.br">
                <strong> Servc </strong>
                <p>Emprestimos consignados</p>
            </a> -->

            <a class="projects-container" target="_blank" href="https://www.seletauno.com.br">
                <strong> Seleta Uno </strong>
                <p> E-commerce </p>
            </a>
        </div>
    </section>
{% endblock%}