{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='../static/index.css')}}">
{% endblock %}

{% block headtitle %}
    Curriculum
{% endblock%}

{% block body %}
    <header class="name">
        <h1>Redes Sociais</h1>
    </header>

    <section class="box-container">

        <div class="box">
            <img src="{{url_for('static', filename='./images/facebook.png')}}" alt="facebook">
            
            <div class="info">
                <strong>Facebook</strong>
                <a href="https://www.facebook.com/Mx.Jeff.10" target="_blank">Jeferson</a>
            </div>
        </div>

        <div class="box">
            <img src="{{url_for('static', filename='./images/github.png')}}" alt="facebook">
            
            <div class="info">
                <strong>Github:</strong>
                <a href="https://github.com/DZ0Jeff" target="_blank">DZ0Jeff</a>
            </div>
        </div>

        <div class="box">
            <img src="{{url_for('static', filename='./images/linkedin.png')}}" alt="facebook">
            
            <div class="info">
                <strong>linkedin:</strong>
                <a href="https://www.linkedin.com/in/mx-jeff" target="_blank">Jeferson</a>
            </div>
        </div>

    </section>
{% endblock%}